body {
    background-image: url("background.jpg");
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: larger;
    margin-bottom: 69px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.serious {
    font-family:'Times New Roman', Times, serif;
}
.socialism {
    font-weight: 600;
    font-style: italic;
    color: red;
}
.p {
    font-style: italic;
    color: palevioletred;
}
.doka {
    color: rgb(80, 99, 204);
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
}